<div class="row">
  <div class="col-xs-12 my-3">
    <button class="btn btn-success">New Recipe</button>
  </div>
  <hr/>
  <div class="row">
    <div class="list-group col-xs-12">
      <a href="#"
         class="d-flex list-group-item list-group-item-action align-items-center"
         *ngFor="let recipe of recipes">
        <div class="flex-grow-1 ms-3">
          <h4 class="mb-1">{{ recipe.name }}</h4>
          <p> {{ recipe.description }}</p>
        </div>
        <span class="flex-shrink-0 ">
          <img
            src="{{recipe.imagePath}}"
            alt="{{ recipe.name }}"
            class="img-fluid"
            style="max-height: 50px">
        </span>
      </a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
